/* Base Styles */
:root {
  --primary-color: #00ADB5;
  --secondary-color: #1ea3f6;
  --highlight-color: #6baad1;
  --background-color: #1B262C;
  --text-color: white;
}

/* Common Styles */
.button {
  width: 8rem;
  margin: 0 5px;
  border-radius: 10px;
  border-color: var(--primary-color);
  color: var(--primary-color);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}
.nav-button{
  color: #f9f9f9;
  font-weight: 600;
}
.nav-button:hover{
  color: #00ADB5;
}
/* Navbar Styles */
.custom-nav-link {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-button{
  text-align: center;
}
.custom-nav-link{
  border-radius: 5px 0 0 5px;
}

.custom-nav-link:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
}

/* Footer Styles */
.footer {
  background-color: #f9f9f9;
  min-height: 6rem;
  padding: 1rem;
  color: grey;
  text-decoration: underline;
  text-align: center;
}

/* Landing Page Styles */
.website-name {
  font-size: 5rem;
  font-family: Georgia, serif;
  margin: 35rem 0 1rem 0;
  text-align: center;
}

/* Movie Card Styles */
.movie-card {
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-color);
  margin: 1% 0;
}

.movie-card-button {

  margin-right: 2%;
  width: 10rem;
}

.movie-poster {
  padding: 5% 0 5% 5%;
  height: 18rem;
  width: 13rem;
  text-align: center;
}

/* Form Input Styles */
.form-input {
  height: 45px;
}

.form-input-group {
  padding: 2%;
}

/* Review Styles */
.movie-review-poster {
  height: 25rem;
  padding: 10%;
}

.review-section {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.movie-details {
  padding: 5% 2%;
}

/* Authentication Styles */
.auth-container {
  background-color: #293a43;
  border-radius: 20px;
  padding: 4rem 8rem;
  width: 50%;
  margin: 2% auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow here */
}

.auth-header {
  text-align: center;
  padding-bottom: 2rem;
}

.auth-form-group {
  text-align: center;
  margin-top: 10%;
}

.auth-signup-link {
  margin: 5% auto;
  text-align: center;
}

/* Main Content Styles */
.main {
  min-height: 95vh;
}

.session-box {
  background-color: #EEEEEE;
  text-align: center;
  border-radius: 10px;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
}

.session-box:hover {
  background-color: var(--secondary-color);
}

/* Sidebar Styles */
.sidebar-container {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
}

.sidebar-link-container {
  margin-left: 0.5rem;
  margin-top: 2rem;
}

.movie-nav-link {
  text-decoration: none;
  font-size: 1.25rem;
  color: var(--text-color);
  text-align: center;
  height: 2.5rem;
}

.movie-nav-link:hover {
  background-color: var(--highlight-color);
  color: white;
}

.movie-active {
  background-color: var(--primary-color);
  color: white;
}
.movie-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 15px; /* Optional: Add margin bottom for spacing */
}

.movie-col-2 {
  flex: 0 0 auto;
  margin-right: 15px; /* Optional: Add margin between movie items */
  font-size: 1.25rem;
}
.link-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}
.review-header{
  color: black;
}
