/* Login & Signup Styling */
.full-width-height{
    max-height:100vh;
    min-width: 100%;
    min-height:100vh;
    max-width: 100%;
    background-color: #323232;
}

.login-image{
    margin:2rem;
    width:90%;
    height:80vh; 
    margin-top:3rem;
    border-radius:10%
}

.login-form-section{
    background-color: white;
    height: 100vh
}

.login-form-container{
    width:70%; 
    margin-top:8rem;
} 

.login-button-style {
  width: 90%;
  height: 50px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  border-radius: 30px;
}